/*------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
* {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.3rem;
}
p {
  font-size: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ba364;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px #10613c;
}
.navbar .logo-container {
  display: flex;
  align-items: center;
  margin: 0.5rem 2rem 1rem 2rem;
  font-size: 2rem;
  height: 100%;
}
.navbar .logo-container img {
  height: 5rem;
}
.navbar .logo-container a {
  font-size: 4rem;
  padding-left: 1rem;
}
.navbar .nav-links {
  width: 30%;
  position: relative;
  left: -4rem;
  display: flex;
  justify-content: space-around;
}
.navbar .nav-links li {
  margin-left: 1rem;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
.bordermixin {
  border: 1px red solid;
}
.pagewide {
  width: 100%;
  height: 100%;
  padding-top: 7rem;
}
.pagewide .wmpheader {
  background-color: #faceaf;
  height: 72.8rem;
}
.pagewide .wmpheader .wmpintrobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia .wmp {
  color: #1ba364;
  text-align: center;
  font-size: 5rem;
  margin-top: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 6.3rem;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia .wmpslogan {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #1ba364;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.8rem;
  margin-bottom: 5.6rem;
  line-height: 2.5rem;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia .getstarted {
  border-radius: 4px;
  background-color: #7846c6;
  border: none;
  color: white;
  width: 24.2rem;
  height: 5.6rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 4.5rem;
}
.pagewide .wmpheader .wmpintrobox .yellowman {
  display: none;
}
@media (min-width: 500px) {
  .pagewide .wmpheader .wmpintrobox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 53%;
    margin-top: 8rem;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia .wmp {
    font-size: 6rem;
    margin-top: 3.5rem;
    line-height: 7.4rem;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia .wmpslogan {
    text-align: center;
    font-size: 1.8rem;
    width: 60rem;
    margin-top: 1.8rem;
    margin-bottom: 2.2rem;
    line-height: 2.5rem;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia .getstarted {
    width: 22.4rem;
    height: 5.6rem;
    font-size: 2.5rem;
    margin-top: 0rem;
    font-size: 3.6rem;
  }
  .pagewide .wmpheader .wmpintrobox .yellowman {
    display: block;
    margin-top: 10rem;
    width: 56%;
    height: 55.07rem;
  }
  .pagewide .wmpheader .wmpintrobox .greenman {
    display: none;
  }
}
@media (min-width: 800px) {
  .pagewide .wmpheader {
    height: 88rem;
  }
  .pagewide .wmpheader .wmpintrobox {
    height: 100%;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia .wmp {
    font-size: 10rem;
    margin-top: 0;
    line-height: 12rem;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia .wmpslogan {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 4.5rem;
    margin: 0;
    margin-top: 0px;
    margin-top: 17px;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia .getstarted {
    margin-top: 4rem;
    height: 8rem;
    width: 34.4rem;
  }
  .pagewide .wmpheader .wmpintrobox .yellowman {
    height: 73.07rem;
    margin-top: 8rem;
  }
}
.pagewide .buildgrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .buildgrow .buildgrowtitle {
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-top: 7.9rem;
  margin-bottom: 5rem;
}
.pagewide .buildgrow .buildgrow4 {
  margin-top: 4.4rem;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16rem;
  margin-bottom: 10.3rem;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bg1img {
  margin-left: 0.9rem;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext {
  display: flex;
  flex-direction: column;
  width: 59%;
  align-items: center;
  margin-right: 12px;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmalltitle {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmallp {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2.5rem;
  width: 18rem;
}
@media (min-width: 500px) {
  .pagewide .buildgrow .buildgrowtitle {
    width: 76%;
    font-size: 2.7rem;
    line-height: 3.9rem;
    margin-top: 3.9rem;
  }
  .pagewide .buildgrow .buildgrow4 {
    display: flex;
    flex-direction: row;
    margin-top: 0.3rem;
    margin-bottom: 5.4rem;
    height: 263px;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0rem;
    height: 24rem;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bg1img {
    margin-left: 0rem;
    max-height: 13rem;
    width: 16rem;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext {
    width: 100%;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmalltitle {
    font-size: 1.1rem;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmallp {
    font-size: 1rem;
    margin-top: 1.6rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 800px) {
  .pagewide .buildgrow {
    height: 770px;
  }
  .pagewide .buildgrow .buildgrowtitle {
    margin-top: 10.9rem;
    font-size: 4rem;
    line-height: 4.5rem;
    width: 90rem;
  }
  .pagewide .buildgrow .buildgrow4 {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 6.3rem;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bg1img {
    max-height: 20rem;
    width: 27rem;
    margin-bottom: 16px;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmalltitle {
    font-size: 2.5rem;
  }
  .pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmallp {
    width: 255px;
    font-size: 18px;
    line-height: 2rem;
    margin-top: 2.6rem;
  }
}
.pagewide .userhighlight {
  background-color: #fac263;
  height: 40.2rem;
  display: flex;
  flex-direction: column;
}
.pagewide .userhighlight .imgwtext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}
.pagewide .userhighlight .imgwtext .usertextbig {
  width: 40%;
  font-size: 2.2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.pagewide .userhighlight .usertextname {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
@media (min-width: 500px) {
  .pagewide .userhighlight .imgwtext {
    flex-direction: row-reverse;
  }
  .pagewide .userhighlight .imgwtext .userimg {
    width: 26%;
  }
  .pagewide .userhighlight .imgwtext .usertextbig {
    width: 34%;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-top: 12px;
  }
  .pagewide .userhighlight .usertextname {
    margin-top: -1.8rem;
    margin-left: -29.2rem;
  }
}
@media (min-width: 800px) {
  .pagewide .userhighlight {
    height: 69rem;
  }
  .pagewide .userhighlight .imgwtext .userimg {
    margin-top: 32px;
    margin-right: 6%;
    height: 54.2rem;
  }
  .pagewide .userhighlight .imgwtext .usertextbig {
    font-size: 4.5rem;
    line-height: 5rem;
    margin-top: 4.2rem;
    margin-left: 4rem;
  }
  .pagewide .userhighlight .usertextname {
    margin-top: -7.1rem;
    margin-left: -58.2rem;
    font-size: 2.3rem;
  }
}
.pagewide .resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .resources .resourcetitle {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 7rem;
}
.pagewide .resources .resource1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .resources .resource1 .resourceimg {
  margin-top: 5.7rem;
  margin-bottom: 3.3rem;
}
.pagewide .resources .resource1 .resourcep {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  width: 74%;
}
@media (min-width: 500px) {
  .pagewide .resources {
    flex-direction: row;
    height: 38.4rem;
  }
  .pagewide .resources .resourcetitle {
    display: none;
  }
  .pagewide .resources .resource1 {
    width: 28.37rem;
    align-items: center;
  }
  .pagewide .resources .resource1 .resourceimg {
    width: 19.5rem;
    height: 13rem;
    margin-bottom: 2.5rem;
    margin-top: 9.7rem;
  }
  .pagewide .resources .resource1 .resourcep {
    width: 100%;
    padding-top: 2.8rem;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ba364;
  height: 8rem;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px #10613c;
  margin-top: 8rem;
}
.footer .footerlink {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  padding-top: 4.2rem;
}
