/*--------------------------------*/
/*------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
* {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.3rem;
}
p {
  font-size: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ba364;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px #10613c;
}
.navbar .logo-container {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  font-size: 2rem;
  height: 100%;
}
.navbar .logo-container img {
  height: 5rem;
}
.navbar .logo-container a {
  font-size: 4rem;
}
.navbar .nav-links {
  width: 30%;
  position: relative;
  left: -4rem;
  display: flex;
  justify-content: space-around;
}
.navbar .nav-links li {
  margin-left: 1rem;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  width: 100%;
  height: 20rem;
  background-color: #178d57;
  background-image: url("../images/site-images/tree-tile-small3.gif");
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position-y: 2rem;
  background-size: 30rem;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 2rem;
}
header .date-weather {
  position: relative;
  z-index: 3;
  color: white;
  top: 9rem;
  left: 70%;
  font-size: 2rem;
  display: none;
}
.main-news-container {
  width: 100%;
  height: 100%;
  background-color: #fdebdf;
  padding-bottom: 4rem;
}
.main-news-container .topics {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 20rem) 1rem;
  grid-template-rows: minmax(2rem, 1fr);
  padding: 1rem;
  background-color: #10613c;
  overflow-x: scroll;
  box-shadow: -5px 0 5px #020906;
}
.main-news-container .topics .topics::after {
  content: ‘’;
}
@media (min-width: 500px) {
  .main-news-container .topics {
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .main-news-container .topics {
    grid-template-columns: repeat(6, auto);
    grid-row-gap: 0.5rem;
    z-index: 6;
    box-shadow: 2px 2px 5px #020906;
    overflow: hidden;
  }
}
.main-news-container .topics .menu-button {
  position: relative;
  z-index: 7;
  text-align: right;
  color: white;
  background-color: #1ba364;
  border-radius: 4rem;
  box-shadow: 2px 2px 5px #093521;
  display: none;
}
.main-news-container .topics .menu-button p {
  font-size: 3rem;
  padding: 2rem;
  padding-right: 3rem;
}
.main-news-container .topics .tab {
  background-color: #178d57;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 2px 2px 5px #093521;
  text-align: center;
  cursor: pointer;
}
.main-news-container .topics .tab:active {
  background-color: #f6a267;
  transform: translateY(10px);
  box-shadow: 0 0 10px #fac263;
  font-weight: 500;
}
@media (min-width: 500px) {
  .main-news-container .topics .tab {
    max-width: 100%;
  }
}
@media (min-width: 800px) {
  .main-news-container .topics .tab {
    padding: 1rem;
  }
}
.main-news-container .topics .tab p {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.main-news-container .topics .tab p:active {
  font-weight: 500;
}
@media (min-width: 800px) {
  .main-news-container .topics .tab p {
    font-size: 2rem;
  }
}
.main-news-container .topics .active-tab {
  background-color: #f8af32;
  color: black;
}
.main-news-container .topics .active-tab p {
  color: black;
}
.main-news-container .news-container {
  margin: 0 2rem;
}
.main-news-container .carousel-container {
  height: 10rem;
  border: 1px solid teal;
  margin: 2rem 0;
  display: none;
}
.main-news-container .newsfeed {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main-news-container .newsfeed .top-section {
  display: none;
}
.main-news-container .newsfeed .top-section h2 {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 2rem;
  color: #592805;
  text-align: center;
}
.main-news-container .newsfeed .top-section p {
  margin: 1rem;
  max-width: 100rem;
  color: #713207;
}
.main-news-container .newsfeed .active-intro {
  display: flex;
  flex-flow: column nowrap;
}
.main-news-container .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
  border-top: 1px solid #f7b17f;
  border-bottom: 1px solid #f7b17f;
  padding-top: 3rem;
}
@media (min-width: 800px) {
  .main-news-container .cards-container {
    align-items: baseline;
    justify-content: space-around;
  }
}
.main-news-container .cards-container .card {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-flow: column;
  background-image: linear-gradient(white, #f9bf97, #f9bf97);
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  box-shadow: 8px 8px 10px #faceaf;
}
@media (min-width: 1000px) {
  .main-news-container .cards-container .card {
    width: 30%;
    margin: 1rem;
    max-width: 75rem;
  }
}
.main-news-container .cards-container .card .article-content {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}
.main-news-container .cards-container .card .headline {
  position: relative;
  z-index: 5;
  color: black;
  padding: 1rem 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.main-news-container .cards-container .card .headline-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  background-image: linear-gradient(black, white);
  mix-blend-mode: multiply;
  border-radius: 1rem 1rem 0 0;
}
.main-news-container .cards-container .card h3 {
  font-size: 2.75rem;
}
@media (min-width: 1000px) {
  .main-news-container .cards-container .card h3 {
    font-size: 2rem;
  }
}
.main-news-container .cards-container .card .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  margin: 0 0 1.5rem 2.5rem;
}
.main-news-container .cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid lightgrey;
  height: 40px;
}
.main-news-container .cards-container .card .author .img-container img {
  width: 40px;
}
.main-news-container .cards-container .card .author span {
  padding-left: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: grey;
}
@media (min-width: 1000px) {
  .main-news-container .cards-container .card .author span {
    font-size: 1.3rem;
  }
}
.main-news-container .cards-container .card .article {
  margin: 2rem;
  color: #383838;
  font-size: 2rem;
}
@media (min-width: 800px) {
  .main-news-container .cards-container .card .article {
    max-height: 8rem;
    overflow: hidden;
  }
}
@media (min-width: 1000px) {
  .main-news-container .cards-container .card .article {
    font-size: 1.6rem;
  }
}
.main-news-container .cards-container .myBtn {
  color: #1ba364;
  margin-bottom: 3rem;
  background-color: white;
  font-size: 2rem;
  border: 0;
  width: 70%;
  box-shadow: 0rem -2rem 4rem 4rem white;
  cursor: pointer;
}
.main-news-container .cards-container .myBtn:hover {
  color: #f8af32;
}
.main-news-container .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.main-news-container .modal-content {
  background-color: #fefefe;
  margin: 8rem auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  max-width: 100rem;
  border-radius: 1rem;
  max-height: 80%;
  overflow: auto;
  overflow-x: hidden;
}
.main-news-container .modal-content .modal-headline-img {
  width: 100%;
  height: 30rem;
  overflow-y: hidden;
  border-radius: 1rem;
  margin: 2rem 0;
}
.main-news-container .modal-content img {
  width: 100%;
}
.main-news-container .modal-content .modal-header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.main-news-container .modal-content .modal-header h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.main-news-container .modal-content .modal-header p {
  padding: 1rem 0 0 0;
  font-size: 1.7rem;
}
.main-news-container .modal-content .modal-header .close {
  color: #aaa;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: -1rem;
  justify-self: center;
  margin-left: 98.5%;
}
.main-news-container .modal-content .modal-header .close:hover,
.main-news-container .modal-content .modal-header .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.main-news-container .modal-content .modal-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  line-height: 1.8rem;
  margin: 1rem 0;
}
.main-news-container .modal-content .modal-body img {
  max-height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
  margin: 2rem 0;
}
.main-news-container .modal-content .modal-footer {
  display: none;
}
.bordermixin {
  border: 1px red solid;
}
.pagewide {
  width: 100%;
  height: 100%;
  padding-top: 7rem;
}
.pagewide .wmpheader {
  background-color: #faceaf;
  height: 72.8rem;
}
.pagewide .wmpheader .wmpintrobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia .wmp {
  color: #1ba364;
  text-align: center;
  font-size: 5rem;
  margin-top: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 6.3rem;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia .wmpslogan {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #1ba364;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.8rem;
  margin-bottom: 5.6rem;
  line-height: 2.5rem;
}
.pagewide .wmpheader .wmpintrobox .wmpmedia .getstarted {
  border-radius: 4px;
  background-color: #7846c6;
  border: none;
  color: white;
  width: 24.2rem;
  height: 5.6rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 4.5rem;
}
.pagewide .wmpheader .wmpintrobox .yellowman {
  display: none;
}
@media (min-width: 500px) {
  .pagewide .wmpheader .wmpintrobox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .pagewide .wmpheader .wmpintrobox .wmpmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pagewide .wmpheader .wmpintrobox .yellowman {
    display: block;
  }
  .pagewide .wmpheader .wmpintrobox .greenman {
    display: none;
  }
}
.pagewide .buildgrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .buildgrow .buildgrowtitle {
  text-align: center;
  font-size: 2.9rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-top: 7.9rem;
  margin-bottom: 5rem;
}
.pagewide .buildgrow .buildgrow4 {
  margin-top: 4.4rem;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16rem;
  margin-bottom: 10.3rem;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bg1img {
  margin-left: 0.9rem;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext {
  display: flex;
  flex-direction: column;
  width: 59%;
  align-items: center;
  margin-right: 12px;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmalltitle {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.pagewide .buildgrow .buildgrow4 .bgsmallbox .bgtext .bgsmallp {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2.5rem;
  width: 18rem;
}
.pagewide .userhighlight {
  background-color: #fac263;
  height: 40.2rem;
  display: flex;
  flex-direction: column;
}
.pagewide .userhighlight .imgwtext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}
.pagewide .userhighlight .imgwtext .usertextbig {
  width: 40%;
  font-size: 2.2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.pagewide .userhighlight .usertextname {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
.pagewide .resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .resources .resourcetitle {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 7rem;
}
.pagewide .resources .resource1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .resources .resource1 .resourceimg {
  margin-top: 5.7rem;
  margin-bottom: 3.3rem;
}
.pagewide .resources .resource1 .resourcep {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  width: 74%;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ba364;
  height: 8rem;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px #10613c;
}
.footer .footerlink {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  padding-top: 4.2rem;
}
