/*------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
* {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.3rem;
}
p {
  font-size: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ba364;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px #10613c;
}
.navbar .logo-container {
  display: flex;
  align-items: center;
  margin: 0.5rem 2rem 1rem 2rem;
  font-size: 2rem;
  height: 100%;
}
.navbar .logo-container img {
  height: 5rem;
}
.navbar .logo-container a {
  font-size: 4rem;
  padding-left: 1rem;
}
.navbar .nav-links {
  width: 30%;
  position: relative;
  left: -4rem;
  display: flex;
  justify-content: space-around;
}
.navbar .nav-links li {
  margin-left: 1rem;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
.aboutUsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .aboutUsHeader {
    max-width: 100%;
  }
  .aboutUsHeader img {
    width: 350px;
  }
}
.aboutUsHeader img {
  padding-top: 8%;
  max-width: 100%;
  background-color: #fcddc7;
}
@media (max-width: 500px) {
  .aboutUsHeader img {
    width: 100%;
    padding-top: 20%;
  }
}
.aboutUsHeader p {
  padding: 10% 0 10% 0;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutUsHeader p {
    font-size: 1.4rem;
  }
}
.meetOurTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #fcddc7;
  background-color: #fcddc7;
}
.meetOurTeam .teamShowcase {
  display: flex;
  flex-direction: column;
}
.meetOurTeam .teamShowcase .topHalfTeam {
  display: flex;
  padding-bottom: 5%;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .meetOurTeam .teamShowcase .topHalfTeam {
    flex-direction: column;
    padding: 0 5% 0 5%;
  }
}
.meetOurTeam .teamShowcase .topHalfTeam .teamMember {
  display: flex;
  border: solid #10613c;
  background-color: #10613c;
  border-radius: 10%;
  max-width: 30%;
}
@media (max-width: 500px) {
  .meetOurTeam .teamShowcase .topHalfTeam .teamMember {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.meetOurTeam .teamShowcase .topHalfTeam .teamMember img {
  border-radius: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.meetOurTeam .teamShowcase .topHalfTeam .teamMember .info {
  text-align: center;
  max-width: 33%;
}
.meetOurTeam .teamShowcase .topHalfTeam .teamMember .info p {
  padding: 3%;
  color: white;
  font-size: 1rem;
}
.meetOurTeam .teamShowcase .bottomHalfTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .meetOurTeam .teamShowcase .bottomHalfTeam {
    flex-direction: column;
    padding: 0 5% 0 5%;
  }
}
.meetOurTeam .teamShowcase .bottomHalfTeam .teamMember {
  display: flex;
  border: solid #10613c;
  background-color: #10613c;
  border-radius: 10%;
  max-width: 30%;
}
@media (max-width: 500px) {
  .meetOurTeam .teamShowcase .bottomHalfTeam .teamMember {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.meetOurTeam .teamShowcase .bottomHalfTeam .teamMember img {
  border-radius: 100%;
  padding-bottom: 5%;
}
.meetOurTeam .teamShowcase .bottomHalfTeam .teamMember .info {
  text-align: center;
  max-width: 33%;
}
.meetOurTeam .teamShowcase .bottomHalfTeam .teamMember .info p {
  padding: 3%;
  color: white;
  font-size: 1rem;
}
.meetOurTeam h2 {
  color: #10613c;
  padding: 4% 0 8% 0;
}
.ourCoreValues {
  display: flex;
  padding: 10% 0 10% 0;
}
.ourCoreValues .buildLearnGrow {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .ourCoreValues .buildLearnGrow {
    width: 100%;
    justify-content: center;
  }
}
.ourCoreValues .buildLearnGrow .coreValue {
  display: flex;
}
@media (max-width: 500px) {
  .ourCoreValues .buildLearnGrow .coreValue {
    width: 100%;
    flex-direction: row;
  }
  .ourCoreValues .buildLearnGrow .coreValue img {
    padding: 0 0 0 0%;
  }
}
.ourCoreValues .buildLearnGrow .coreValue img {
  padding-right: 8%;
}
.ourCoreValues .buildLearnGrow .coreValue .valueInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.ourCoreValues .buildLearnGrow .coreValue .valueInfo h4 {
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .ourCoreValues .buildLearnGrow .coreValue .valueInfo {
    width: 100%;
    padding: 8% 0 0 0;
  }
  .ourCoreValues .buildLearnGrow .coreValue .valueInfo p {
    font-size: 1rem;
    padding: 0% 5% 0 0;
    text-align: center;
  }
}
.ourCoreValues .buildLearnGrow h2 {
  padding-bottom: 10%;
  color: #10613c;
}
@media (max-width: 500px) {
  .ourCoreValues .buildLearnGrow .learnValue {
    padding: 5% 0 0 0;
  }
}
.ourCoreValues .coreValuesImg {
  width: 50%;
}
@media (max-width: 500px) {
  .ourCoreValues .coreValuesImg {
    width: 0%;
  }
}
.ourCoreValues .coreValuesImg img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 500px) {
  .ourCoreValues .coreValuesImg img {
    display: none;
    max-width: 0%;
    max-height: 0%;
  }
}
.bordermixin {
  border: 1px red solid;
}
.pagewide {
  width: 100%;
  height: 100%;
  padding-top: 7rem;
}
.pagewide .wmpheader {
  background-color: #faceaf;
  height: 72.8rem;
}
.pagewide .wmpheader .wmpintrobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .wmpheader .wmpintrobox .wmp {
  color: #1ba364;
  text-align: center;
  font-size: 5rem;
  margin-top: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 6.3rem;
}
.pagewide .wmpheader .wmpintrobox .wmpslogan {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #1ba364;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.8rem;
  margin-bottom: 5.6rem;
  line-height: 2.5rem;
}
.pagewide .wmpheader .wmpintrobox .getstarted {
  border-radius: 4px;
  background-color: #7846c6;
  border: none;
  color: white;
  width: 24.2rem;
  height: 5.6rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 4.5rem;
}
.pagewide .buildgrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewide .buildgrow .buildgrowtitle {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 2.4rem;
  margin-right: 2.9rem;
}
