/*-----------------------------------------------------------------------------*/
header {
  width: 100%;
  height: 20rem;
  border: 1px black dotted;
  background-color: #1a8654;
  background-image: url("../images/site-images/tree-tile-small3.gif");
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position-y: 5.5rem;
  background-size: 20rem;
}
.main-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 6rem 10rem 0 6rem;
  width: auto;
}
.main-container .garden-buttons {
  flex-flow: column nowrap;
  align-items: center;
  width: 20rem;
}
.main-container .garden-buttons .button-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 4rem 8rem 4rem;
  background-color: #1a8654;
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
}
.main-container .garden-buttons .button-container h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.main-container .garden-buttons .button-container svg {
  margin-top: 1.25rem;
}
.main-container .garden-buttons .button-container .garden-icon {
  width: 85%;
  margin-top: .4rem;
  font-size: 3.6rem;
  text-align: center;
}
.main-container .garden-buttons .button-container .fas {
  color: #fff;
}
.main-container .garden-buttons .button-container .fa-newspaper {
  margin-top: 1.25rem;
}
.main-container .garden-buttons .button-container .fa-question-circle {
  font-size: 2rem;
}
.main-container .garden-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
}
.main-container .garden-content .garden-search-add {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  border: #1a8654;
  margin-left: 5.8rem;
}
.main-container .garden-content .fa-search {
  position: relative;
  top: .15rem;
  color: #81c7a1;
  font-size: 1.75rem;
}
.main-container .garden-content form input {
  width: 35rem;
  text-indent: 4rem;
  height: 3rem;
  margin-left: -2.75rem;
  border-radius: 1rem;
  border: 1px solid #81c7a1;
  box-shadow: 2px 2px 2px lightgrey;
}
.main-container .garden-content ::placeholder {
  color: #81c7a1;
  opacity: 1;
  /* Firefox */
  font-style: italic;
  font-size: 1.6rem;
}
.main-container .garden-content .garden-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 4rem;
  color: white;
}
.main-container .garden-content .garden-cards .plant-card {
  box-shadow: 2px 2px 5px grey;
  background-color: #7e7e7e;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  width: 40%;
  width: 25rem;
  height: 20rem;
  background-size: 50rem;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: fixed;
  cursor: pointer;
}
.main-container .garden-content .garden-cards .card-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: baseline;
  height: 100%;
  padding: 0 1rem;
}
.main-container .garden-content .garden-cards h3 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 600;
}
.main-container .garden-content .garden-cards h3 i {
  font-size: 2.25rem;
}
.main-container .garden-content .garden-cards p {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: .5rem;
}
.main-container .garden-content .garden-cards .plant-card:first-child {
  background-color: #1a8654;
}
.main-container .garden-content .garden-cards .plant-card:first-child p {
  margin-bottom: 1rem;
}
.main-container .garden-content .garden-cards .plant-card:first-child .get-started {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100%;
}
.main-container .garden-content .garden-cards .plant-card:first-child .get-started p {
  position: relative;
  top: -1rem;
  font-style: italic;
}
.main-container .garden-content .garden-cards .plant-card:first-child .fa-plus {
  font-size: 4rem;
  margin-left: 2rem;
}
.main-container .garden-content .garden-cards .plant-card:nth-child(3) {
  background-image: url('../images/plant-images/plant-card-1.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(4) {
  background-image: url('../images/plant-images/plant-card-2.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(5) {
  background-image: url('../images/plant-images/plant-card-4.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(6) {
  background-image: url('../images/plant-images/plant-card-5.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(7) {
  background-image: url('../images/plant-images/plant-card-6.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(2) {
  background-image: url('../images/plant-images/plant-card-3.jpg');
}
.main-container .garden-content .garden-cards .care-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40%;
  margin: 1rem 0;
  font-size: 4rem;
  height: 100%;
}
.main-container .garden-content .garden-cards .care-icons .light {
  color: #ffdd1f;
  margin-right: 1rem;
}
.main-container .garden-content .garden-cards .care-icons .water {
  color: #35d0ff;
  text-align: left;
  width: 50%;
}
