/*-----------------------------------------------------------------------------*/
header {
  width: 100%;
  height: 10rem;
  border: 1px black dotted;
  background-color: #1a8654;
  background-image: url("../images/site-images/tree-tile-small3.gif");
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position-y: 3rem;
  background-size: 10rem;
}
.main-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 3rem 5rem 0 3rem;
}
.main-container .garden-buttons {
  flex-flow: column nowrap;
  align-items: center;
  width: 10rem;
  border: red 1px solid;
}
.main-container .garden-buttons .button-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 2rem 4rem 2rem;
  background-color: #1a8654;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
}
.main-container .garden-buttons .button-container h5 {
  margin-top: 1rem;
  font-size: 1rem;
}
.main-container .garden-buttons .button-container .garden-icon {
  width: 85%;
  margin-top: .2rem;
  font-size: 2.3rem;
  text-align: center;
}
.main-container .garden-buttons .button-container .fas {
  color: #fff;
}
.main-container .garden-buttons .button-container .fa-newspaper {
  margin-top: .9rem;
}
.main-container .garden-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
}
.main-container .garden-content .garden-search-add {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  border: #1a8654;
  margin-left: 4rem;
}
.main-container .garden-content .fa-search {
  position: relative;
  left: -0.7rem;
  color: #81c7a1;
}
.main-container .garden-content form input {
  width: 25rem;
  text-indent: 2.5rem;
  height: 2rem;
  margin-left: -2.75rem;
  border-radius: .5rem;
  border: 1px solid #81c7a1;
  box-shadow: 2px 2px 2px lightgrey;
}
.main-container .garden-content ::placeholder {
  color: #81c7a1;
  opacity: 1;
  /* Firefox */
  font-style: italic;
  font-size: 1rem;
}
.main-container .garden-content .garden-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem;
  color: white;
}
.main-container .garden-content .garden-cards .plant-card {
  box-shadow: 2px 2px 5px grey;
  background-color: #7e7e7e;
  padding: 1rem;
  border-radius: 1rem;
  margin: .5rem;
  width: 40%;
  max-width: 20rem;
  min-width: 18rem;
  min-height: 10rem;
  max-height: 14rem;
  background-size: 25rem;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: fixed;
  cursor: pointer;
}
.main-container .garden-content .garden-cards .card-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
}
.main-container .garden-content .garden-cards h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.main-container .garden-content .garden-cards p {
  font-weight: 400;
}
.main-container .garden-content .garden-cards .plant-card:first-child {
  background-color: #1a8654;
}
.main-container .garden-content .garden-cards .plant-card:nth-child(3) {
  background-image: url('../images/plant-images/plant-card-1.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(4) {
  background-image: url('../images/plant-images/plant-card-2.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(5) {
  background-image: url('../images/plant-images/plant-card-4.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(6) {
  background-image: url('../images/plant-images/plant-card-5.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(7) {
  background-image: url('../images/plant-images/plant-card-6.jpg');
}
.main-container .garden-content .garden-cards .plant-card:nth-child(2) {
  background-image: url('../images/plant-images/plant-card-3.jpg');
}
.main-container .garden-content .garden-cards .care-icons {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-top: 1rem;
}
.main-container .garden-content .garden-cards .care-icons .light {
  color: #ffdd1f;
}
.main-container .garden-content .garden-cards .care-icons .water {
  color: #35d0ff;
}
