//imports
@import 'variables.less';

.bordermixin{
    border: 1px red solid;
}

.pagewide{
    width: 100%;
    height: 100%;
    // .bordermixin();
    padding-top: 7rem;

    .wmpheader{
        background-color: @b-primary4;
        height:72.8rem;

        .wmpintrobox{
            display:flex;
            flex-direction: column;
            align-items: center;

            .wmpmedia{
                display:flex;
                flex-direction: column;
                align-items: center;

                .wmp{
                    color:@a-primary4;
                    text-align: center;
                    font-size: 5rem;
                    margin-top: 3.5rem;
                    font-family: 'Josefin Sans', sans-serif;
                    line-height: 6.3rem;
                }
    
                .wmpslogan{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 2rem;
                    color:@a-primary4;
                    text-align: center;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    margin-top: 1.8rem;
                    margin-bottom: 5.6rem;
                    line-height: 2.5rem;
                }
    
                .getstarted{
                    border-radius: 4px;
                    background-color:@safety4;
                    border: none;
                    color: white;
                    width:24.2rem;
                    height:5.6rem;
                    font-size: 2.5rem;
                    font-family: 'Roboto', sans-serif;
                    margin-top: 4.5rem;
    

                }

                

            
            }

            .yellowman{
                display: none;
            }

        }

        @media @tablet{

            .wmpintrobox{
                display:flex;
                flex-direction: row;
                align-items: flex-start;

                .wmpmedia{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    width: 53%;
                    margin-top: 8rem;

                    .wmp{
                        font-size: 6rem;
                        margin-top: 3.5rem;
                        line-height: 7.4rem;
                    }

                    .wmpslogan{    
                        text-align: center;
                        font-size: 1.8rem;
                        width: 80%;
                        margin-top: 1.8rem;
                        margin-bottom: 2.2rem;
                        line-height: 2.5rem;
                    }

                    .getstarted{
                        width:22.4rem;
                        height:5.6rem;
                        font-size: 2.5rem;
                        margin-top: 0rem;
        
    
                    }

                }

                .yellowman{
                    display: block;
                    margin-top: 10rem;
                    width: 56%;
                    height: 55.07rem;
                }

                .greenman{
                    display: none;
                }

            }

            
        }


    }

    .buildgrow{
        display: flex;
        flex-direction: column;
        align-items: center;

        .buildgrowtitle{
            text-align: center;
            font-size: 2.4rem;
            font-family: 'Roboto', sans-serif;
            width:100%;
            // margin-left: 2.5rem;
            // margin-right: 2.1rem;
            margin-top: 7.9rem;
            margin-bottom: 5rem;
        }
        
        .buildgrow4{
            margin-top: 4.4rem;

            // #lastbgbox{
            //     margin-bottom: 1.3rem;
            // }

            .bgsmallbox{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 16rem;
                margin-bottom: 10.3rem;

                .bg1img{
                    margin-left: 0.9rem;
                }

                .bgtext{
                    display: flex;
                    flex-direction: column;
                    width: 59%;
                    align-items: center;
                    margin-right: 12px;

                    .bgsmalltitle{
                        font-size: 2.5rem;
                        font-family: 'Josefin Sans', sans-serif;
                        text-align: center;

                    }

                    .bgsmallp{
                        text-align: center;
                        font-size: 1.2rem;
                        font-family: 'Josefin Sans', sans-serif;
                        
                        line-height: 2.5rem;
                        width:18rem;

                    }

                }

                
            }



        }
        
        @media @tablet{

            
            .buildgrowtitle{
                width: 76%;
                font-size: 2.7rem;
                line-height: 3.9rem;
                margin-top: 3.9rem;

            }


            .buildgrow4{
                display: flex;
                flex-direction: row;
                margin-top: 0.3rem;
                margin-bottom: 5.4rem;
                height: 263px;

                .bgsmallbox{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                   
                    margin-bottom: 0rem;
                    height: 24rem;


                    .bg1img{
                        margin-left: 0rem;
                        max-height:13rem;
                        width:16rem;
                    }

                    .bgtext{
        
                
                        width: 100%;
    
    
                        .bgsmalltitle{
                            font-size: 1.1rem;
                        }
    
                        .bgsmallp{
                            
                            font-size: 1.0rem;
                            margin-top: 1.6rem;
                            line-height: 1.5rem;
                           
    
                        }
                    }

                }

            }


        }
        
    }


    .userhighlight{
        background-color: @a-secondary4;
        height: 40.2rem;
        display: flex;
        flex-direction: column;

        .imgwtext{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 2rem;

            .usertextbig{
                width:40%;
                font-size: 2.2rem;
                font-family: 'Josefin Sans', sans-serif;
            }

        }

        .usertextname{
            text-align: center;
            margin-top: 3.5rem;
            font-size: 1.5rem;
            font-family: 'Josefin Sans', sans-serif;
        }


        @media @tablet{

            .imgwtext{
                flex-direction: row-reverse;

                .userimg{
                    width:26%;
                }

                .usertextbig{
                    width:34%;
                    font-size: 2.6rem;
                    line-height: 3rem;
                    margin-top: 12px;

                }
            }

            .usertextname{
                margin-top: -1.8rem;
                margin-left: -29.2rem;
            }
            
        }

    }
    
    .resources{
        display:flex;
        flex-direction:column;
        align-items: center;

        .resourcetitle{
            font-size: 2.5rem;
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;
            margin-top: 7rem;
        }

        .resource1{
            display:flex;
            flex-direction:column;
            align-items: center;

            .resourceimg{
                margin-top: 5.7rem;
                margin-bottom: 3.3rem;

            }

            .resourcep{
                font-size: 2.5rem;
                font-family: 'Josefin Sans', sans-serif;
                text-align: center;
                width: 74%;
            }

        }

        @media @tablet{
            flex-direction:row;
            height: 38.4rem;


            .resourcetitle{
                display: none;
            }


            .resource1{
                width: 28.37rem;
                // height: 318.7px;
                align-items: center;


                .resourceimg{
                    width: 19.5rem;
                    height:13rem;
                    margin-bottom: 2.5rem;
                    margin-top: 9.7rem; 
                }


                .resourcep{
                    width: 100%;
                    padding-top: 2.8rem;
                }
            }


        }




    }

  


}



