@import 'variables.less';
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: @green2;
    height: 5rem;

    .logo-container {
        display: flex;
        width: 200px;
        margin: 0;
    }

    .nav-links {
        width: 30rem;
    }

    ul {
        display: flex;
        
        li {
            margin: 2rem 1rem;
        }
    }

}


a {
    text-decoration: none; 
    color: white;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif; 
}