/*-----------------------------------------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ba364;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px #026857;
}
.navbar .logo-container {
  display: flex;
  margin: .5rem 2rem 1rem 2rem;
  font-size: 2rem;
  height: 100%;
}
.navbar .logo-container img {
  height: 5rem;
}
.navbar .nav-links {
  width: 20%;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: -2rem;
}
.navbar ul li {
  margin-left: 1rem;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
