@import 'variables.less';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: @green3;
    height: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 1.5rem 2rem 2.5rem 2rem;
    box-shadow: 0 0 5px @green3;
    // border: 10px blue dashed;
    // overflow-x: hidden;

    .logo-container {
        display: flex;
        width: 200px;
        margin: 0;
        font-size: 2rem;
    }

    .nav-links {
        width: 20%;
    }

    ul {
        display: flex;
        justify-content: space-around;
        position: relative;
        left: -2rem;
        
        li {
            margin-left: 1rem;
            font-size: 2rem;
        }
    }

}


a {
    text-decoration: none; 
    color: white;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif; 
}