/*-----------------------------------------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0d3b26;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  box-shadow: 0 0 5px #0d3b26;
}
.navbar .logo-container {
  display: flex;
  width: 200px;
  margin: 0;
}
.navbar .nav-links {
  width: 20rem;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-left: 1rem;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
